@page
@model soft20181_starter.Pages.AboutModel

@{
    Layout = null;
}
<main class="about-us-container"> 
      <section class="search-and-filter">
        <!-- Search Bar --> 
        <div class="search-box">
          <div class="search-bar">
            <label for="searchInput"></label>
            <input type="text" name="searchInput" id="searchInput" placeholder="Search for events" title="Search events by title or location">
          </div>
          <div class="search-image">
            <img src="/assets/images/search-icon.png" loading="lazy" alt="Search Icon">
          </div>
        </div>

         <!-- Dropdown for fee range filter -->
        <div class="filter">
          <span>Filter by ticket fee </span>
          <select title="Filter" id="feeFilter" placeholder="filter">
            <option value="all">All Fees</option>
            <option value="below-50">Below $50</option>
            <option value="50-100">$50 - $100</option>
            <option value="100-150">$100 - $150</option>
            <option value="150-200">$150 - $200</option>
            <option value="above-200">Above $200</option>
          </select>
        </div>
      </section>
      <section class="hero">
        <h1>About Us</h1>
        <p>At <span>EventSphere</span>, we believe every moment is worth celebrating. Our platform connects you with events, venues, and experiences that create lasting memories. We’re passionate about simplifying the event-planning journey for organizers and attendees alike.</p>
          <div class="buttons">
            <a href="events.html"><button type="button"  class="bookNow">Book Events</button></a>
            <a href="post.html"><button type="button"  class="explore">Post Event</button></a>
          </div>
          
          <div class="video-advert">
            <video autoplay muted loop loading="lazy">
              <source src="/assets/videos/reels.mp4" type="video/mp4">
              <p>Your browser does not support the video tag.</p>
            </video>
          </div>
      </section>
      <section class="steps">
        <h2>How it Works</h2>
        <div class="steps-cards">
          <div class="step">
            <p class="emoji">✨</p>
            <h3>Explore Events</h3>
            <p>Discover personalized suggestions and search filters.</p>
          </div>
          <div class="step">
            <p class="emoji">💳</p>
            <h3>Secure Your Booking</h3>
            <p>Book tickets or reserve venues quickly and securely.</p>
          </div>
          <div class="step">
            <p class="emoji">🎉</p>
            <h3>Create Memories</h3>
            <p>Add events, attend events, meet people, and celebrate life.</p>
          </div>
        </div>
      </section>

        <!-- Call to Action -->
      <section class="cta-container">
        <div class="cta about-cta">
          <div class="cta-text">
            <h2>Visit.</h2>
            <h2>Collaborate.</h2>
            <h2>Plan.</h2>
          </div>
          <a href="events.html"><button type="button" class="cta-btn">
            <p>Start Booking</p>
            <span class="arrow">
              &rArr;
            </span>
          </button></a>
          <div class="cta-image img1">
            <img src="/assets/images/chuttersnap.jpg" loading="lazy" alt="Cta Image">
          </div>
          <div class="cta-image img2">
            <img src="/assets/images/pablo-heimplatz.jpg" loading="lazy" alt="Cta Image">
          </div>
          <div class="cta-image img3">
            <img src="/assets/images/sky-scrapper.webp" loading="lazy" alt="Cta Image">
          </div>
          <div class="cta-image img4">
            <img src="./assets/images/chuttersnap.jpg" loading="lazy" alt="Cta Image">
          </div>
          <div class="cta-image img5">
            <img src="./assets/images/sky-scrapper.webp" loading="lazy" alt="Cta Image">
          </div>
        </div>
      </section>
      <!-- Hidden Events -->
        <div class="events hidden"></div>
    </main>
    